name: terraform-plan

on:
  pull_request:
    paths:
      - "infra/terraform/**"
  workflow_dispatch:
    inputs:
      stack:
        description: "Stack path under infra/terraform (e.g., iam-oidc)"
        required: true
        type: string

permissions:
  id-token: write # nécessaire pour OIDC (assume role)
  contents: read # suffisant pour checkout/lecture

jobs:
  plan-changed:
    if: ${{ github.event_name == 'pull_request' }}
    uses: TekPi2r/eks-pro/.github/workflows/_tf-reusable.yml@03f4c8029ed090f3b4ad9976bcf4b19fd52e1052
    with:
      action: plan
      # naïve detector: take first changed stack folder
      stack: ${{ fromJSON( format('["{0}"]', join( github.event.pull_request.head.sha, '' ) ) )[0] }}
    secrets: inherit

  plan-manual:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    uses: TekPi2r/eks-pro/.github/workflows/_tf-reusable.yml@03f4c8029ed090f3b4ad9976bcf4b19fd52e1052
    with:
      action: plan
      stack: ${{ inputs.stack }}
    secrets: inherit
